        * {
            background-color: white;
        }

        .flex-container {
            display: flex;
            height: 300px;
            align-items: center;
            align-content: center;
            margin-top: -1rem;
            margin-left: -1rem;
        }

        .flex-child {
            width: 100%;
            display: flex;
            text-align: center;
            align-content: center;
            align-items: center;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 18rem;
        }

        .searchArea {
            font-size: 1rem;
            width: 100%;
            height: 100%;
            border: #e3e7e8;
            border-style: solid;
            padding: 0.5rem;
            background-color: white;
            border-radius: 40px;
            outline: none;
            border-width: thin;
            margin-left: 1rem;
        }

        .searchBox {
            background-color: white;
            position: absolute;
            top: 0;
            left: 60px;
            width: 80%;
            height: 100%;
            border: none;
        }

        .searchBox:focus {
            outline: none;
        }

        .searchArea:hover {
            outline: none;
            box-shadow: 1px 1px 8px 1px gainsboro;
        }

        .searchArea:focus {
            outline: none;
            box-shadow: 1px 1px 8px 1px gainsboro;
        }

        .container {
            display: flex;
            align-items: center;
            position: relative;
            margin: auto;
            text-align: center;
            height: 1.75rem;
            margin-top: -5rem;
            width: 38rem;
        }

        .search-icon {
            position: absolute;
            top: 15%;
            left: 30px;
            opacity: 35%;
            width: 1.4rem;
        }

        .button-container {
            display: flex;
            height: 2.2rem;
            width: 26%;
            justify-content: space-evenly;
            margin: auto;
            margin-top: 2.5rem;
        }

        .button-style {
            outline: none;
            border: none;
            background-color: #f3f4f4;
            opacity: 70%;
            font-size: 0.9rem;
            border-radius: 3%;
            width: 8rem;
        }

        .button-style:hover {
            outline: gainsboro;
            border: solid gainsboro;
            border-width: 1px;
            box-shadow: 1px 1px 8px 1px gainsboro;
            cursor: pointer;
        }

        .nav-container{
            display: flex;
            border: none;
            width: 100%;
            margin-top: 0rem;
            height: 3rem;
            margin-left: 1rem;
            font-size: 1rem;
        }

        .ul-top{
            list-style-type: none;
            background-color: white;
            text-decoration: none;
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            font-size: 0.9rem;
            display: flex;
        }

        .li-top{
            display: block;
            color:black;
            text-align: center;
            padding: 10px 10px;
            text-decoration: none;
        }

        .li-top:hover{
            text-decoration: underline;
        }

        .top-right-nav-container{
            display: flex;
            height: 1.5rem;
            justify-content: flex-end;
            align-content: flex-end;
            border: none;
            width: 100%;
        }
    
        .sign-in-button{
            background-color: #1b72e8;
            color: white;
            text-align: center;
            justify-content: center;
            height: 2.25rem;
            width: 6rem;
            border-radius: 5px;
            border: none;
            outline: none;
            font-size: 0.9rem;
            margin-left: 1rem;
            cursor: pointer;
        }

        .AppLogo{
            position: relative;
            top: 6px;
            background-color: white;
            border-radius: 100%;
            opacity: 60%;
        }

        .AppLogo:hover{
            box-shadow:0px 0px 0px 7px gainsboro;
            background-color: gainsboro;
        }

        .navbar-Bottom{
            display: flex;
            list-style-type: none;
            position: fixed;
            bottom:0;
            left: 0;
            width: 100%;
            background-color: #f3f3f2;
        }

        .bottom-List1{
            display: block;
            color: #6D7073;
            background-color: #f3f3f2;
            text-decoration: none;
            padding: 1rem;
            padding-left: 2rem;
            font-size: 0.95rem;
        }

        .bottom-List{
            display: block;
            color: #6D7073;
            background-color: #f3f3f2;
            font-family: sans-serif;
            text-decoration: none;
            padding: 1rem;
            font-size: 0.85rem;
        }

        .bottom-List:hover{
            text-decoration: underline;
        }

        .navbar-Bottom-Right{
            display: flex;
            list-style-type: none;
            position: fixed;
            bottom:0;
            right: 0;
            width: 20%;
            background-color: #f3f3f2;
        }
